@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Mina", sans-serif;
    font-weight: 700;
    font-style: normal;
}