@charset "UTF-8";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7A0D0D;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background: #ff8874;
    padding: 0.6rem;
}

.game{
    height: 30em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    transform-style: preserve-3d;
    perspective: 50rem;
}

.item{
    direction: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    width: 1em;
    height: 1em;

}

h1{
    color: #FFFFFF;
    text-shadow: 0.2rem 0.2rem 0.05rem #000000;
    font-size: 5rem;
    text-transform: uppercase;
}

.reset{
    padding: 0.15rem 0.55rem;
    border-radius: 5px;
    font-size: 2rem;
}

.reset:hover{
    background-color: black;
    color: white;
}